<section class="mx-auto flex justify-between">
    <div id="homecontainer" class="homecontainer" data-aos="fade-up" data-aos-duration="2000">
        <!-- this container making for back -->
        <div id="content">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro accusamus delectus culpa, dignissimos
                facere
                debitis adipisci dolorem rem pariatur vitae veniam, magni consequuntur quam expedita ad totam? Modi
                voluptatum ipsum architecto voluptatibus dolor molestias eaque, quidem aperiam labore facere dolorem
                excepturi adipisci quas velit distinctio laboriosam ipsam similique alias beatae. Illum, molestiae?
                Ipsam,
                voluptatum! At quas quaerat nesciunt deserunt eum enim vero placeat a ipsam iure.
            </p>

            <li class="bg-gray-600 px-4 py-2 border-solid border-2 border-white rounded-full text-white font-bold">
                <a href="#" onclick="closefunction()" class="fa fa-arrow-left"> Back</a>
            </li>
        </div>
    </div>

    <div id="backcontainer" class="maincontainer px-20 mt-64  mx-auto ml-5" data-aos="fade-up" data-aos-duration="2000">
        <h4 class="text-md"><em>Best services</em></h6>
            <h1 class="text-6xl w-3/4 font-bold"><span> best contracter in Ludhiana </span></h1>
            <!-- <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">
                    Order now
                </button> -->
    </div>



    <div id="leftcontainer" data-aos="fade-left" data-aos-duration="2000">
        <div class="" width="500px">
            <img src="/img/computer.png" alt="img is not loading" height="1000px" width="1000px">
        </div>
    </div>




    <!-- second container code is here -->

    <!-- second container is here -->
    <section id="secondcontainer">

        <!-- something written in this -->
        <div class="container1 flex items-center mx-auto justify-between py-4 height-400px">

            <div class="w-1/2" data-aos="fade-right" data-aos-duration="2000">
                <img class="factory" src="/img/computer2.png" alt="image is loading" height="2000px" width="2000px" />
            </div>


            <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
                <h4 class="text-lg"><em>we belives in Trust</em></h6>
                    <p class=" font-bold"><span>All types of man power Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eos id animi eaque exercitationem delectus sequi eius odio obcaecati autem
                            quos, rem incidunt, pariatur perspiciatis libero saepe deleniti mollitia dolore
                            voluptatum.</span></p>
            </div>
        </div>

        <!-- card section is here -->

        <div class="places">
            <h1>best study is here</h1>
        </div>
        <div class="content-price">
            <h3><span>Afordable price</span></h3>
            <h2> <span>starting $5000</span></h2>
        </div>

        <div class="ourteam flex justify-center ">
            <h1>Our Team Members</h1>
        </div>

        <!-- our team member -->
        <div class="card">
            <!-- crads code -->
            <div class="cards" data-aos="flip-up" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/employee.jpg" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards mx-auto" data-aos="flip-up" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/employee2.jpg" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards" data-aos="flip-up" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/employee3.jpg" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards" data-aos="flip-up" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/employee4.jpg" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards" data-aos="flip-up" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/employee5.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- more one action is here -->
        <!-- something written in this -->
        <div class="container1 flex items-center mx-auto justify-between py-4 height-400px">

            <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
                <h4 class="text-lg"><em>we belives in Trust</em></h6>
                    <p class=" font-bold"><span>All types of man power Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eos id animi eaque exercitationem delectus sequi eius odio obcaecati autem
                            quos, rem incidunt, pariatur perspiciatis libero saepe deleniti mollitia dolore
                            voluptatum.</span></p>
            </div>

            <div class="w-1/2" data-aos="fade-right" data-aos-duration="2000">
                <img class="factory" src="/img/programmer.svg" alt="image is loading" height="1800px" width="1800px" />
            </div>
        </div>


        <!-- courses is here -->
        <div class="ourteam flex justify-center mt-20 ">
            <h1>👩‍🏫 Courses</h1>
        </div>
        <!-- our courses -->
        <div class="card">
            <!-- crads code -->
            <div class="cards2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/Striker.png" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/striker.png" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/Striker.png" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/Striker.png" alt="">
                </div>
            </div>
            <!-- crads code -->
            <div class="cards2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="cards-img">
                    <img src="/img/Striker.png" alt="">
                </div>
            </div>
        </div>





    </section>