/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

.hero {
  height: 500px;
}

.contracter {
  height: 450px;
}
.contracter_name {
  font-family: "Poppins", sans-serif;
}

ul li a {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

div a span {
  color: #f2f3f4;
  font-family: "Rubik", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.side_name h1 {
  font-family: "Poppins", sans-serif;
}

section #homecontainer {
  display: flex;
  width: 0;
  height: 1500px;
  border-radius: 60%;
  transform: translatey(-40%);
  position: absolute;
  left: -30%;
  z-index: -1;
  overflow: hidden;
  background-color: #04befe;
  opacity: 0.8;
  transition: all 1s;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* treueb64uj7i5ujiriorinir */
#content li {
  position: absolute;
  left: 75%;
  top: 70%;
  list-style: none;
}

#homecontainer #content p {
  display: block;
  position: absolute;
  left: 40%;
  top: 50%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: large;
  width: 600px;
}

#backcontainer {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  height: 500px;
}

#leftcontainer {
  display: block;
  position: absolute;
  left: 55%;
  top: 20%;
  width: 45%;
  height: auto;
}

#secondcontainer {
  display: block;
  position: absolute;
  top: 95%;
}
#video {
  padding-top: 0.3%;
  padding-left: 0.3%;
  background-color: rgb(243, 243, 243);
  height: 1000px;
}

/* cards.css */

.ourteam h1{
  font-style: bold;
  font-family: "poppins", sans-serif;
  font-size: larger;
}

.card {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  margin: 20px;
  height: 300px;
}
.cards {
  display: flex;
  width: auto;
  height: 250px;
  margin: 25px;
}
.cards2 {
  display: flex;
  width: auto;
  height: auto;
  margin: 10px;

}
.cards-img {
  display: flex;
  height: 250px;
  width: 200px;
  padding: 0px 0px;
  border-radius: 20px;
}

.cards-img img {
  height: inherit;
  width: inherit;
  padding: 0 0px;
  border-radius: 5px;
}
.cards-img img:hover {
  z-index: -1;
}

.content-price {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 40px;
}
.card a {
  color: black;
}
.cards-img h2 {
  margin: auto;
  font-family: "poppins", sans-serif;
  color: black;
}
.cards-img h3 {
  color: black;
  text-decoration: underline;
}

.places {
  display: flex;
  position: absolute;
  top: 100px;
  left: 50px;
}
.places h1 {
  color: black;
  font-style: bold;
  font-family: "poppins", sans-serif;

}

/* box1 */

.img_box {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10px;
  height: 500px;
}
.img_box img {
  margin: auto;
  height: 300px;
  width: 78%;
  border-radius: 20px;
}
.img_box .content-price {
  display: flex;
  position: absolute;
  left: 800px;
  font-family: "poppins";
  color: #fff;
  font-size: 20px;
}


/* login from coding is header */
